#header { overflow: hidden; }
#header cover .filter { background: #222222; position: absolute; display: block; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.3; }
#header cover video {
    display: block;
    position: absolute !important;
    z-index: 0 !important;
    top: 0; left: 0;
    background-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
    }
/*@media (min-aspect-ratio: 16/9) { #header video { height: 300%; top: -100%; }}*/
/*@media (max-aspect-ratio: 16/9) { #header video { width: 300%; left: -100%; }}*/

a.animating { -webkit-animation-duration:0.5s; animation-duration:0.5s; }
a.play-button { position: relative !important; display: inline-block; z-index: 9; }

#countdown .time { font-size: 6em; color: #222222; }
#countdown .label { font-size: 1.4em; display: block; color: #aaaaaa; }

.modal-body iframe { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.modal-open .modal-backdrop { z-index: 1045; opacity: 0.8; }
.modal-open #header video { display: none; }
